<div class="row">
  <%# ユーザーが投稿したものすべてを表示 %>
  <h1>学習ジャンル 追加 / 編集</h1>
  <div class="col-xs-9">
    <div class="col-xs-offset-1 col-xs-11">
      <div class="genre_form">
        <%= form_with(model: @genre, url: user_genres_path(user_id: current_user.id), method: :post, local: true, class:"form_control") do |f| %>
          <%= f.text_field :type %>
          <%= f.submit "追加", class:"btn btn-primary" %>
        <% end %>
      </div>
    <table>
      <thead>
        <tr>
          <td>ジャンル</td>
          <td>変更後ジャンル名</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <%= form_with(model: genre, url: user_genre_path(user_id: current_user.id, id: genre.id), method: :patch, local: true, class:"form_control") do |f| %>
          <tr>
            <td><%= genre.type %></td>
            <td><%= f.text_field :type %></td>
            <td><%= f.submit "更新", class:"btn btn-primary" %></td>
            <td><%= link_to "削除", user_genre_path(user_id: current_user.id, id: genre.id), method: :delete, class:"btn btn-danger", data: {"turbolinks" => false} %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @genres %>
    </div>
  </div>
  <div class="col-xs-3">
    <%# ジャンルの一覧をサイドバーで表示 %>
    <%= render partial: 'layouts/side_genre', locals: {genres: @genres} %>
  </div>
</div>