<p class="post_show_point_check">復習チェック履歴</p>
<div class="post_show_point_form_box">
  <%# ポイント一覧テーブル %>
  <table class="post_show_point_table">
    <thead class="post_show_point_thead">
      <tr>
        <td>CHECK!</td>
        <td></td>
        <td>ポイント</td>
        <td></td>
        <td>実施時間</td>
        <td>通知時間</td>
      </tr>
    </thead>
    <tbody class="post_show_point_tbody">
      <tr>
        <td>1回目</td>
        <td><% if post.relearn_count > 0 %><i class="far fa-check-square"></i><% end %></td>
        <td><%= relearn_point.first_score %> / 100 P</td>
        <td></td>
        <td><%= real_timing.first_term.strftime("%Y-%m-%d %H:%M") unless real_timing.first_term.nil?%></td>
        <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>2回目</td>
        <td><% if post.relearn_count > 1 %><i class="far fa-check-square"></i><% end %></td>
        <td><%= relearn_point.second_score %> / 200 P</td>
        <td></td>
        <td><%= real_timing.second_term.strftime("%Y-%m-%d %H:%M") unless real_timing.second_term.nil? %></td>
        <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>3回目</td>
        <td><% if post.relearn_count > 2 %><i class="far fa-check-square"></i><% end %></td>
        <td><%= relearn_point.third_score %> / 300 P</td>
        <td></td>
        <td><%= real_timing.third_term.strftime("%Y-%m-%d %H:%M") unless real_timing.third_term.nil? %></td>
        <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>4回目</td>
        <td><% if post.relearn_count > 3 %><i class="far fa-check-square"></i><% end %></td>
        <td><%= relearn_point.forth_score %> / 400 P</td>
        <td></td>
        <td><%= real_timing.forth_term.strftime("%Y-%m-%d %H:%M") unless real_timing.forth_term.nil? %></td>
        <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    </tbody>
    <tfoot class="post_show_point_tfoot">
      <tr>
        <td></td>
        <td></td>
        <td><%= @relearn_point.first_score + relearn_point.second_score + relearn_point.third_score+ relearn_point.forth_score %> / 1000P</td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

