<%# フレンドユーザーの投稿であれば見れるようにする %>
<% if @friend_user.id != current_user.id %>
  <h1><%= @friend_user.name%>さんのRelearn 履歴一覧</h1>
  <div class="post_index_friend_btn_box">
    <div class="post_index_friend_posts_btn"><%= link_to user_posts_path(user_id: @friend_user.id) do %><p><%= @friend_user.name %><br>さんのRelearn 一覧</p><% end %></div>
    <div class="post_index_friend_complete_posts_btn"><%= link_to complete_posts_path(id: @friend_user.id) do %><p><%= @friend_user.name %><br>さんのRelearn 履歴</p><% end %></div>
  </div>
<% else %>
  <h1>Relearn 履歴一覧</h1>
<% end %>
<%# ユーザーが投稿したものすべてを表示 %>
<div class="post_index_box row">
  <div class="post_index_main_box col-xs-9 col-xs-offset-3">
    <div class="post_index_list">
    <table class="post_index_table">
      <thead class="post_index_thead">
        <tr>
          <td style="width:8%;"></td>
          <td style="width:22%;">タイトル</td>
          <td style="width:25%;">学習ジャンル</td>
          <td style="width:30%;">内容</td>
          <td style="width:20%;">復習ステータス</td>
        </tr>
      </thead>
      <tbody class="post_index_tbody">
        <%# 投稿の数だけeach文を回す %>
        <% @posts.each.with_index(1) do |post, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= link_to post.title.truncate(15), user_post_complete_path(user_id: @friend_user.id,post_id: post.id) %></td>
          <td><%= post.genre.type.truncate(15) %></td>
          <td><%= post.content.truncate(20) %></td>
          <td><%= post.relearn_count %>/4</td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
    </div>
  </div>
</div>