<%# 他のユーザー用のビュー %>
<% if @other_user.id != current_user.id %>
  <h1><%= @other_user.name%>さんのRelearn 履歴詳細</h1>
  <div class="post_index_friend_btn_box">
    <div class="post_index_friend_posts_btn"><%= link_to user_posts_path(user_id: @other_user.id) do %><p><%= @other_user.name %><br>さんのRelearn 一覧</p><% end %></div>
    <div class="post_index_friend_complete_posts_btn"><%= link_to complete_posts_path(id: @other_user.id) do %><p><%= @other_user.name %><br>さんのRelearn 履歴</p><% end %></div>
  </div>
<% else %>
  <h1>Relearn 履歴詳細</h1>
<% end %>
<div class="row">
  <div class="post_show_box">
    <div class="post_show_main_box col-xs-3">
      <div class="post_title_box">
        <p class="post_show_title"><%= @post.title.truncate(20)%></p>
        <p class="post_show_genre"><%= @genre.type.truncate(20)%></p>
      </div>
      <div class="content_head">
        <p class="post_show_content_title">内容</p>
      </div>
      <div class="post_show_content">
        <%= simple_format(@post.content) %>
      </div>
      <p class="post_show_link">link : <a href="<%= @post.link %>"><%= @post.link.truncate(70) %></a></p>
    </div>
    <div class="post_show_graph_box col-xs-9">
      <p class="post_show_graph_title"><投稿後の忘却推移></p>
      <%= render partial: "layouts/chart", locals:{ post: @post, height: '400px' } %>
    </div>
  </div>
  <div class="post_show_bottom_box col-xs-12">
    <%# ポイント入力フォーム %>
    <%= render partial: 'point', locals: { post: @post,relearn_point: @relearn_point,
          plan_timing: @plan_timing, real_timing: @real_timing } %>
    <p></p>
    <%# 他のユーザーからは見えないようにする %>
    <% if @other_user.id == current_user.id %>
      <div class="post_show_bottom_btn">
          <p class="post_show_complete_btn"><%= link_to "もう一度復習する", user_post_complete_path(user_id: current_user.id, post_id: @post.id), method: :patch %></p>
          <p class="post_show_delete_btn"><%= link_to "投稿を削除する", user_post_path(user_id: current_user.id, id: @post.id), method: :delete, data: { confirm: '削除しますか？' } %></p>
      </div>
    <% end %>
  </div>
</div>