<%# 友達検索ビュー %>
<h1>友達を探そう</h1>
<div class="friend_custom">
  <%# 全体か友達（自分含む）かを選べるタブ %>
  <div class="friend_custom_bar">
    <%= link_to "友達検索", friend_search_before_path(current_user.id), class:"friend_search_tab" %>
    <%= link_to "リクエスト承認待ち", friend_receive_path(current_user.id), class:"friend_tab" %>
    <%= link_to "友達一覧", user_friends_path(current_user.id), class:"friend_tab" %>
  </div>
  <div class="friend_top_box">
    <p>友達の名前を入れてみよう</p>
    <div class="friend_search_form">
      <%# 検索はDBの変更にかかわらないのでform_tagを使うほうが使い勝手が良い %>
      <%# remote:trueで非同期検索 %>
      <%= form_tag(friend_search_path, method: :get, remote: true) do %>
        <%# 名前だけで検索する %>
        <%= text_field_tag :search_word, "" , { class: "search_form" } %>
        <%= submit_tag '検索', class: "search_submit" %>
      <% end %>
    </div>
  </div>
  <%# 友達の一覧、検索結果も含めて %>
  <div class="friend_main_box">
    <div id="search_ajax">
      <%# 検索結果を一覧表示 %>
      <%= render partial: "friends/search", locals: { models: @users } %>
    </div>
  </div>
</div>