<div class="user-view clearfix ">
  <% if !notification.plan_timing.nil?%>
    <%= link_to post_path(notification.plan_timing.post_id) do %>
      <%= attachment_image_tag(current_user, :image, :fill, 50, 50, fallback: "default.png", class: "notification_user_image") %>
    <% end %>
    <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} 前)" %></span>
  <% else %>
    <%= link_to friend_receive_path(current_user.id) do %>
      <%= attachment_image_tag(notification.visitor, :image, :fill, 50, 50, fallback: "default.png", class: "notification_user_image") %>
    <% end %>
    <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} 前)" %></span>
  <% end %>
  <br>
</div>