<div class="row">
  <%# サインインしていて、利用ユーザーの投稿が存在する場合の表示 %>
  <% if user_signed_in? && Post.find_by(user_id: current_user.id) %>
    <div class="col-xs-9">
      <div class="top_title">
        <h1>Next Relearn</h1>
        <h4 class="quote">良さげな言葉　：　<p class="quote_word"><%= @quote %></p></h4>
      </div>
      <%# 外部認証でのログインユーザーにメールアドレス変更を誘導 %>
      <% if current_user.email.length > 50 %>
        <p class="top_mail_change_message" >
          ※外部認証でログインされた方は正しいメールアドレスへ変更をお願いします。
          このままですと正しく通知が送られません。
        </p>
      <% end %>
      <%# 最短の復習ジャンルごとに表示 %>
      <div class="col-xs-12 genre_box">
        <%= render partial: "homes/genre_box", locals: { genres: @genres, order_posts: @order_posts } %>
      </div>
    </div>
    <%# 右側のサイドバー %>
    <div class="top_side_box col-xs-3">
      <%= render partial: "homes/side_box", locals: { total_point: @total_point, average_rate: @average_rate,
                                                    post: @post, user_rate: @user_rate } %>
    </div>
  <%# サインインしてるが投稿が無い場合の表示 %>
  <% elsif user_signed_in? %>
    <div class="col-xs-9">
      <div class="top_title">
        <h1>トップページ</h1>
        <h4 class="quote">良さげな言葉：<p class="quote_word"><%= @quote %></p></h4>
      </div>
      <div class="top_genre_new_use">
        <%= link_to "まず最初に学習ジャンルを登録!", user_genres_path(user_id: current_user.id) %>
      </div>
    </div>
  <%# サインインしていない場合の表示 %>
  <% else %>
    <div class="signend_false">
      <p><%= link_to "新規登録はこちら", new_user_registration_path %></p>
      <p><%= link_to "ログインはこちら", new_user_session_path %></p>
    </div>
  <% end %> <!-- user_signed_in? end -->
</div>

