<div class="row">
  <div class="col-xs-9">
    <div class="top_title">
      <h1>Next Relearn</h1>
      <h4 class="quote">良さげな言葉　：　<p class="quote_word"><%= @quote %></p></h4>
    </div>
    <%# 最短の復習ジャンルごとに表示 %>
    <div class="col-xs-12 genre_box">
      <% i=1 %>
      <%# ジャンルごとに表示 %>
      <% @genres.each do |genre| %>
        <h3 class="genre_type"><%= genre %></h3>
        <div class="order_post">
          <div class="slide-banner owl-carousel"> 
          <%# 投稿を未復習順に表示 %>
          <% @order_posts.each do |order_post| %>
            <%# genre_idが一致したら表示 %>
            <% if order_post[3] == genre %>
              <%= link_to post_path(order_post[0]) do%>
                <div class="latest_posts item"> 
                  <%# タームの時間を表示 %>
                  <div class="latest_term">
                    <% if ((order_post[2] - Time.now)/86400) < 0 %>
                      <p class="delay_relearn"><%= ((order_post[2] - Time.now)/86400).floor.abs %>日の遅れです</p>
                    <% elsif ((order_post[2] - Time.now)/86400) > 1 %>
                      <p class="future_relearn">あと<%= ((order_post[2] - Time.now)/86400).floor %>日と<%= divide( ((order_post[2] - Time.now)/86400*24).round(1) ) %>時間です</p>
                    <% elsif ((order_post[2] - Time.now)/86400) >= 0 %>
                      <%# ヘルパーに定義したdivideメソッドで小数点だけを返す %>
                      <p class="ealry_relearn">あと<%= divide( ((order_post[2] - Time.now)/86400*24).round(1) ) %>時間です</p>
                    <% end %>
                  </div>
                  <div class="post_box">
                    <%# タイトル %>
                    <p class="post_title"><%= order_post[4].truncate(20) %></p>
                    <%# 内容 %>
                    <p><%= order_post[5].truncate(40) %></p>
                    <%# 復習進捗 %>
                    <p><%= order_post[1] %></p>
                  </div>
                  <div class="post_image">
                  </div>
                </div> 
              <% end %>
            <% end %>
          <% end %>
          </div><!-- slide-banner end -->
        </div>
        <% i+=1 %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-3">
    <% if user_signed_in? %>
      <div class="side_point">
        <p>Relearnポイント：</p>
        <p><%= @total_point %>P</p>
        <% if @user_rate.count >= 4 %>
          <p>Relearn率：</p>
          <%# sprintf(or format)を使うと整数でも小数点表示ができる %>
          <p><%= sprintf("%.2f", @average_rate) %>/1.00</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

