<div class="log_in_box">
  <h1>Log in</h1>
  <div class="log_in_main_box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="log_in_email_field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"log_in_form" %>
      </div>

      <div class="log_in_password_field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"log_in_form" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me ,id: "login_remember" %>
          <%= f.label :"ログインしたままにする" ,for: "login_remember" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class:"log_in_btn" %>
      </div>
    <% end %>

    <%= link_to user_twitter_omniauth_authorize_path do %>
      <i class="fab fa-twitter-square fa-2x"></i>
    <% end %><br>

    <%= render "devise/shared/links" %>
  </div>
</div>