<div class="post_show_point_form_box">
  <p class="post_show_point_check">復習チェックフォーム</p>
  <%# 復習したらチェックして送信するフォーム %>
  <%= form_with(model: relearn_point, url: post_relearn_point_path(post_id: post.id), method: :patch, local: true) do |f| %>
  <table class="post_show_point_table">
    <thead class="post_show_point_thead">
      <tr>
        <td><p>CHECK!</p></td>
        <td></td>
        <td><p>ポイント</p></td>
        <td></td>
        <td><p>実施時間</p></td>
        <td><p>通知時間</p></td>
      </tr>
    </thead>
      <%# postテーブルのrelearn_countの値に応じて表示するフォームを変える %>
      <%# 復習回数が0のとき %>
    <% if post.relearn_count == 0 %>
      <tbody class="post_show_point_tbody">
        <tr>
          <td>first</td>
          <td><% if plan_timing.first_term <= time_now %>
                <p class="post_show_score_checkbox"><%= f.check_box(:first_score, {checked: false,size: "60px"}, checked_value = "true",unchecked_value = "false" ) %></p>
              <% end %></td>
          <td><%= relearn_point.first_score %> / 100 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>second</td>
          <td></td>
          <td><%= relearn_point.second_score %> / 200 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>third</td>
          <td></td>
          <td><%= relearn_point.third_score %> / 300 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>forth</td>
          <td></td>
          <td><%= relearn_point.forth_score %> / 400 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
      </tbody>
      <tfoot class="post_show_point_tfoot">
        <tr>
          <td></td>
          <td><% if plan_timing.first_term <= time_now %>
                <%= f.submit "送信" ,class:"post_show_score_form_btn"%>
              <% end %></td>
          <td><%= @relearn_point.first_score + relearn_point.second_score + relearn_point.third_score+ relearn_point.forth_score %> / 1000 P</td>
          <td></td>
          <td></td>
          <td>
            <%# 4回目の通知時間が現在を過ぎていたら編集できないようにする %>
            <% if plan_timing.forth_term >= time_now %>
              <p class="post_show_edit_plan_btn"><%= link_to "通知時間の編集", edit_post_plan_timing_path(post) %></p>
            <% end %>
          </td>
        </tr>
      </tfoot>
    <%# 復習回数が1のとき %>
    <% elsif post.relearn_count == 1 %>
      <tbody class="post_show_point_tbody">
        <tr>
          <td>first</td>
          <td><i class="far fa-check-square"></i></td>
          <td><%= relearn_point.first_score %> / 100 P</td>
          <td></td>
          <td><%= real_timing.first_term.strftime("%Y-%m-%d %H:%M") unless real_timing.first_term.nil? %></td>
          <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>second</td>
          <td><% if plan_timing.second_term <= time_now %>
                <p class="post_show_score_checkbox"><%= f.check_box(:second_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %></p>
              <% end %></td>
          <td><%= relearn_point.second_score %> / 200 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>third</td>
          <td></td>
          <td><%= relearn_point.third_score %> / 300 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>forth</td>
          <td></td>
          <td><%= relearn_point.forth_score %> / 400 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
      </tbody>
      <tfoot class="post_show_point_tfoot">
        <tr>
          <td></td>
          <td><% if plan_timing.second_term <= time_now %>
                <%= f.submit "送信" ,class:"post_show_score_form_btn"%>
              <% end %></td>
          <td><%= @relearn_point.first_score + relearn_point.second_score + relearn_point.third_score+ relearn_point.forth_score %> / 1000 P</td>
          <td></td>
          <td></td>
          <td>
            <%# 4回目の通知時間が現在を過ぎていたら編集できないようにする %>
            <% if plan_timing.forth_term >= time_now %>
              <p class="post_show_edit_plan_btn"><%= link_to "通知時間の編集", edit_post_plan_timing_path(post) %></p>
            <% end %>
          </td>
        </tr>
      </tfoot>
    <%# 復習回数が2のとき %>
    <% elsif post.relearn_count == 2 %>
      <tbody class="post_show_point_tbody">
        <tr>
          <td>first</td>
          <td><i class="far fa-check-square"></i></td>
          <td><%= relearn_point.first_score %> / 100 P</td>
          <td></td>
          <td><%= real_timing.first_term.strftime("%Y-%m-%d %H:%M") unless real_timing.first_term.nil? %></td>
          <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>second</td>
          <td><i class="far fa-check-square"></i></td>
          <td><%= relearn_point.second_score %> / 200 P</td>
          <td></td>
          <td><%= real_timing.second_term.strftime("%Y-%m-%d %H:%M") unless real_timing.second_term.nil? %></td>
          <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>third</td>
          <td><% if plan_timing.third_term <= time_now %>
                <p class="post_show_score_checkbox"><%= f.check_box(:third_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %></p>
              <% end %></td>
          <td><%= relearn_point.third_score %> / 300 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>forth</td>
          <td></td>
          <td><%= relearn_point.forth_score %> / 400 P</td>
          <td></td>
          <td></td>
          <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
      </tbody>
      <tfoot class="post_show_point_tfoot">
        <tr>
          <td></td>
          <td><% if plan_timing.third_term <= time_now %>
                <%= f.submit "送信" ,class:"post_show_score_form_btn"%>
              <% end %></td>
          <td><%= @relearn_point.first_score + relearn_point.second_score + relearn_point.third_score+ relearn_point.forth_score %> / 1000 P</td>
          <td></td>
          <td></td>
          <td>
            <%# 4回目の通知時間が現在を過ぎていたら編集できないようにする %>
            <% if plan_timing.forth_term >= time_now %>
              <p class="post_show_edit_plan_btn"><%= link_to "通知時間の編集", edit_post_plan_timing_path(post) %></p>
            <% end %>
          </td>
        </tr>
      </tfoot>
    <%# 復習回数が3以上のとき %>
    <% elsif post.relearn_count >= 3 %>
      <tbody class="post_show_point_tbody">
        <tr>
          <td>first</td>
          <td><i class="far fa-check-square"></i></td>
          <td><%= relearn_point.first_score %> / 100 P</td>
          <td></td>
          <td><%= real_timing.first_term.strftime("%Y-%m-%d %H:%M") unless real_timing.first_term.nil? %></td>
          <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>second</td>
          <td><i class="far fa-check-square"></i></td>
          <td><%= relearn_point.second_score %> / 200 P</td>
          <td></td>
          <td><%= real_timing.second_term.strftime("%Y-%m-%d %H:%M") unless real_timing.second_term.nil? %></td>
          <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>third</td>
          <td><i class="far fa-check-square"></i></td>
          <td><%= relearn_point.third_score %> / 300 P</td>
          <td></td>
          <td><%= real_timing.third_term.strftime("%Y-%m-%d %H:%M") unless real_timing.third_term.nil? %></td>
          <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>forth</td>
          <td><% if plan_timing.forth_term <= time_now && post.relearn_count == 3 %>
                <p class="post_show_score_checkbox"><%= f.check_box(:forth_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %></p>
              <% end %></td>
          <td><%= relearn_point.forth_score %> / 400 P</td>
          <td></td>
          <td><%= real_timing.forth_term.strftime("%Y-%m-%d %H:%M") unless real_timing.forth_term.nil? %></td>
          <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
       </tbody>
       <tfoot class="post_show_point_tfoot">
        <tr>
          <td></td>
          <td><% if plan_timing.forth_term <= time_now %>
                <%= f.submit "送信" ,class:"post_show_score_form_btn"%>
              <% end %></td>
          <td><%= @relearn_point.first_score + relearn_point.second_score + relearn_point.third_score+ relearn_point.forth_score %> / 1000 P</td>
          <td></td>
          <td></td>
          <td>
            <%# 4回目の通知時間が現在を過ぎていたら編集できないようにする %>
            <% if plan_timing.forth_term >= time_now %>
              <p class="post_show_edit_plan_btn"><%= link_to "通知時間の編集", edit_post_plan_timing_path(post) %></p>
            <% end %>
          </td>  
        </tr>
      </tfoot>
    <% else %>
      <p>データが異常です。管理者に問い合わせをお願いします。</p>
    <% end %>
  </table>
  <% end %>
</div>
