<%# 復習したらチェックして送信するフォーム %>
<%= form_with(model: relearn_point, url: post_relearn_point_path(post_id: post.id), method: :patch, local: true) do |f| %>
<table>
  <thead>
    <tr>
      <td width="10%">CHECK!</td>
      <td width="5%%"></td>
      <td width="25%">ポイント</td>
      <td width="25%">実施時間</td>
      <td width="25%">通知時間</td>
    </tr>
  </thead>
  <tbody>
    <%# postテーブルのrelearn_countの値に応じて表示するフォームを変える %>
    <%# 復習回数が0のとき %>
    <% if post.relearn_count == 0 %>
        <tr>
          <td>first</td>
          <td><% if plan_timing.first_term <= time_now %>
                <%= f.check_box(:first_score, {checked: false,class: "check_box"}, checked_value = "true",unchecked_value = "false" ) %>
              <% end %></td>
          <td><%= relearn_point.first_score %> / 100 P</td>
          <td></td>
          <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>second</td>
          <td></td>
          <td><%= relearn_point.second_score %> / 200 P</td>
          <td></td>
          <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>third</td>
          <td></td>
          <td><%= relearn_point.third_score %> / 300 P</td>
          <td></td>
          <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <td>forth</td>
          <td></td>
          <td><%= relearn_point.forth_score %> / 400 P</td>
          <td></td>
          <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
    <%# 復習回数が1のとき %>
    <% elsif post.relearn_count == 1 %>
      <tr>
        <td>first</td>
        <td></td>
        <td><%= relearn_point.first_score %> / 100 P</td>
        <td><%= real_timing.first_term.strftime("%Y-%m-%d %H:%M") unless real_timing.first_term.nil? %></td>
        <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>second</td>
        <td><% if plan_timing.second_term <= time_now %>
              <%= f.check_box(:second_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %>
            <% end %></td>
        <td><%= relearn_point.second_score %> / 200 P</td>
        <td></td>
        <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>third</td>
        <td></td>
        <td><%= relearn_point.third_score %> / 300 P</td>
        <td></td>
        <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>forth</td>
        <td></td>
        <td><%= relearn_point.forth_score %> / 400 P</td>
        <td></td>
        <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <%# 復習回数が2のとき %>
    <% elsif post.relearn_count == 2 %>
      <tr>
        <td>first</td>
        <td></td>
        <td><%= relearn_point.first_score %> / 100 P</td>
        <td><%= real_timing.first_term.strftime("%Y-%m-%d %H:%M") unless real_timing.first_term.nil? %></td>
        <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>second</td>
        <td></td>
        <td><%= relearn_point.second_score %> / 200 P</td>
        <td><%= real_timing.second_term.strftime("%Y-%m-%d %H:%M") unless real_timing.second_term.nil? %></td>
        <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>third</td>
        <td><% if plan_timing.third_term <= time_now %>
              <%= f.check_box(:third_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %>
            <% end %></td>
        <td><%= relearn_point.third_score %> / 300 P</td>
        <td></td>
        <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>forth</td>
        <td></td>
        <td><%= relearn_point.forth_score %> / 400 P</td>
        <td></td>
        <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <%# 復習回数が3以上のとき %>
    <% elsif post.relearn_count >= 3 %>
      <tr>
        <td>first</td>
        <td></td>
        <td><%= relearn_point.first_score %> / 100 P</td>
        <td><%= real_timing.first_term.strftime("%Y-%m-%d %H:%M") unless real_timing.first_term.nil? %></td>
        <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>second</td>
        <td></td>
        <td><%= relearn_point.second_score %> / 200 P</td>
        <td><%= real_timing.second_term.strftime("%Y-%m-%d %H:%M") unless real_timing.second_term.nil? %></td>
        <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>third</td>
        <td></td>
        <td><%= relearn_point.third_score %> / 300 P</td>
        <td><%= real_timing.third_term.strftime("%Y-%m-%d %H:%M") unless real_timing.third_term.nil? %></td>
        <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>forth</td>
        <td><% if plan_timing.forth_term <= time_now %>
              <%= f.check_box(:forth_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %>
            <% end %></td>
        <td><%= relearn_point.forth_score %> / 400 P</td>
        <td></td>
        <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <% else %>
      <p>データが異常です。管理者に問い合わせをお願いします。</p>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= f.submit "送信" %></td>
      <td>合計 </td>
      <td><%= @relearn_point.first_score + relearn_point.second_score + relearn_point.third_score+ relearn_point.forth_score %> / 1000P</td>
      <td></td>
      <td><%= link_to "通知時間の編集", edit_post_plan_timing_path(post), class: "btn btn-default", data: {"turbolinks" => false} %></td>
    </tr>
  </tfoot>
</table>
<% end %>

