<p class="post_show_point_check">復習チェックフォーム</p>
<div class="post_show_point_form_box">
  <%# 復習したらチェックして送信するフォーム %>
  <%= form_with(model: post.relearn_points, url: user_post_relearn_point_path(user_id: current_user.id, post_id: post.id), method: :patch, local: true) do |f| %>
  <table class="post_show_point_table">
    <thead class="post_show_point_thead">
      <tr>
        <td><p>CHECK!</p></td>
        <td></td>
        <td><p>ポイント</p></td>
        <td></td>
        <td><p>実施時間</p></td>
        <td><p>通知時間</p></td>
      </tr>
    </thead>
      <%# postテーブルのrelearn_countの値に応じて表示するフォームを変える %>
      <%# 復習回数が0のとき %>
    <tbody class="post_show_point_tbody">
      <tr>
        <td>1回目</td>
        <td><% if plan_timing.first_term <= time_now && post.relearn_count == 0 %>
              <p class="post_show_score_checkbox"><%= f.check_box(:first_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %></p>
            <% elsif post.relearn_count > 0 %><i class="far fa-check-square"></i>
            <% end %>
        </td>
        <td><%= post.relearn_points[0][:first_score] %> / 100 P</td>
        <td></td>
        <td><%= real_timing.first_term.strftime("%Y-%m-%d %H:%M") unless real_timing.first_term.nil? %></td>
        <td><%= plan_timing.first_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>2回目</td>
        <td><% if plan_timing.second_term <= time_now && post.relearn_count == 1 %>
              <p class="post_show_score_checkbox"><%= f.check_box(:second_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %></p>
            <% elsif post.relearn_count > 1 %><i class="far fa-check-square"></i>
            <% end %>
        </td>
        <td><%= post.relearn_points[0][:second_score] %> / 200 P</td>
        <td></td>
        <td><%= real_timing.second_term.strftime("%Y-%m-%d %H:%M") unless real_timing.second_term.nil? %></td>
        <td><%= plan_timing.second_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>3回目</td>
        <td><% if plan_timing.third_term <= time_now && post.relearn_count == 2 %>
              <p class="post_show_score_checkbox"><%= f.check_box(:third_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %></p>
            <% elsif post.relearn_count > 2 %><i class="far fa-check-square"></i>
            <% end %>
        </td>
        <td><%= post.relearn_points[0][:third_score] %> / 300 P</td>
        <td></td>
        <td><%= real_timing.third_term.strftime("%Y-%m-%d %H:%M") unless real_timing.third_term.nil? %></td>
        <td><%= plan_timing.third_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <tr>
        <td>4回目</td>
        <td><% if plan_timing.forth_term <= time_now && post.relearn_count == 3 %>
              <p class="post_show_score_checkbox"><%= f.check_box(:forth_score, {checked: false}, checked_value = "true",unchecked_value = "false" ) %></p>
            <% elsif post.relearn_count > 3 %><i class="far fa-check-square"></i>
            <% end %>
        </td>
        <td><%= post.relearn_points[0][:forth_score] %> / 400 P</td>
        <td></td>
        <td><%= real_timing.forth_term.strftime("%Y-%m-%d %H:%M") unless real_timing.forth_term.nil? %></td>
        <td><%= plan_timing.forth_term.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    </tbody>
    <tfoot class="post_show_point_tfoot">
      <tr>
        <td></td>
        <%# 通知時間前に送信出来ないようにする %>
        <td><% if check_timing_bool(plan_timing, post.relearn_count, time_now) %>
              <%= f.submit "復習登録" ,class:"post_show_score_form_btn"%>
            <% end %></td>
        <td><%= post.relearn_points[0][:first_score] + post.relearn_points[0][:second_score] + post.relearn_points[0][:third_score]+ post.relearn_points[0][:forth_score] %> / 1000 P</td>
        <td></td>
        <td></td>
        <td>
          <%# 4回目の通知時間が現在を過ぎていたら編集できないようにする %>
          <% if plan_timing.forth_term >= time_now %>
            <%= link_to edit_user_post_plan_timing_path(user_id: current_user.id, post_id: post.id) do %><p class="post_show_edit_plan_btn">通知時間の編集</p><% end %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
  <% end %>
</div>
