<%# フレンドユーザーの投稿であれば見れるようにする %>
<% if @friend_user.id != current_user.id %>
  <h1><%= @friend_user.name%>さんの<%= @genre.type %> Relearn 一覧</h1>
  <div class="post_index_friend_btn_box">
    <div class="post_index_friend_posts_btn"><%= link_to user_posts_path(user_id: @friend_user.id) do %><p><%= @friend_user.name %><br>さんのRelearn 一覧</p><% end %></div>
    <div class="post_index_friend_complete_posts_btn"><%= link_to complete_posts_path(id: @friend_user.id) do %><p><%= @friend_user.name %><br>さんのRelearn 履歴</p><% end %></div>
  </div>
<% else %>
  <h1><%= @genre.type %> Relearn 一覧</h1>
<% end %>
<%# ユーザーが投稿したジャンルに該当するものすべてを表示 %>
<div class="post_index_box row">
  <div class="post_index_main_box col-xs-9">
    <div class="post_index_list">
      <table class="post_index_table">
        <thead class="post_index_thead">
          <tr>
            <td></td>
            <td>タイトル</td>
            <td>学習ジャンル</td>
            <td>内容</td>
            <td>進捗</td>
          </tr>
        </thead>
        <tbody>
          <%# 投稿の数だけeach文を回す %>
          <% @posts.each.with_index(1) do |post, i| %>
            <tr>
              <td><%= i %></td>
              <td><%= link_to post.title.truncate(15), user_post_path(user_id: current_user.id, id: post.id) %></td>
              <td><%= post.genre.type.truncate(15) %></td>
              <td><%= post.content.truncate(20) %></td>
              <td><%= post.relearn_count %>/4</td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </div>
  </div>
  <div class="col-xs-3">
    <%# ジャンルの一覧表示 %>
    <%= render partial: 'layouts/side_genre', locals: {genres: @genres} %>
  </div>
</div>