<div class="row">
  <%# ユーザーが投稿したジャンルに該当するものすべてを表示 %>
  <h1><%= @genre.type %> Relearn 一覧</h1>
  <div class="col-xs-9">
    <div class="col-xs-offset-1 col-xs-11">
    <table>
      <thead>
        <tr>
          <td style="width:8%;"></td>
          <td style="width:22%;">タイトル</td>
          <td style="width:22%;">学習ジャンル</td>
          <td style="width:22%;">内容</td>
          <td style="width:22%;">復習ステータス</td>
        </tr>
      </thead>
      <tbody>
        <%# 投稿の数だけeach文を回す %>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= link_to post.title, post_path(post), data: {"turbolinks" => false} %></td>
          <td><%= post.genre.type %></td>
          <td><%= post.content %></td>
          <td><%= post.relearn_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
    </div>
  </div>
  <div class="col-xs-3">
    <%# ジャンルの一覧表示 %>
    <%= render @genres %>
  </div>
</div>