  <h1>新規投稿</h1>
  <%# 項目を横並びにするためにテーブル化 %>
  <table>
    <%= form_with model: @post, local: true do |f| %>
      <tbody>
        <tr>
          <td><p>学習ジャンル</p></td>
          <%# セレクトボックスでジャンル一覧を表示 %>
          <td>
		        <%= f.select :genre_id, Genre.all.map{|g| [g.type, g.id]} %></td>
          <td><%= link_to "+新規ジャンルはこちらから追加", user_genres_path(user_id: current_user.id), data: {"turbolinks" => false} %></td>
        </tr>
        <tr>
          <td><p>タイトル</p></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><p>内容</p></td>
          <td><%= f.text_area :content %></td>
        </tr>
        <tr>
          <td><p>リンク（任意）</p></td>
          <td><%= f.text_field :link %></td>      
        </tr>
        <tr>
          <td><%= f.submit "投稿"%></td>
        </tr>
      </tbody>
      
    <% end %>
  </table>

