<h1>投稿詳細</h1>
<div class="post_title">
  <%= @post.title%>
  <%= @genre.type%>
</div>
<div class="content_head">
  <p>内容　　<%= link_to "投稿内容の編集", edit_post_path(@post) %></p>
</div>
<div class="content">
  <%= @post.content %>
</div>
<p>link : <%= @post.link%></p>

<table>
  <thead>
    <tr>
      <td>Relean CHECK!</td>
      <td>ポイント</td>
      <td>実施時間</td>
      <td>通知時間</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>復習</td>
      <td>実施ポイント</td>
      <td>じっしじかん</td>
      <td>つうちじかん</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>送信</td>
      <td>合計ポイント</td>
      <td></td>
      <td><%= link_to "通知時間の編集", edit_post_plan_timing_path(@post), class: "btn btn-default" %></td>
    </tr>
  </tfoot>
</table>

<div class="btn group">
  <%= link_to "復習完了にする", post_complete_path(@post), method: :patch, class:"btn btn-default" %>
  <%= link_to "投稿を削除する", post_path(@post), method: :delete, class:"btn btn-default", data: { confirm: '削除しますか？' } %>
</div>
