<%# フレンドユーザーの投稿であれば見れるようにする %>
<% if @friend_user.id != current_user.id %>
  <h1><%= @friend_user.name%>さんの投稿詳細</h1>
  <div class="post_index_friend_btn_box">
    <div class="post_index_friend_posts_btn"><%= link_to user_posts_path(user_id: @friend_user.id) do %><p><%= @friend_user.name %><br>さんのRelearn 一覧</p><% end %></div>
    <div class="post_index_friend_complete_posts_btn"><%= link_to complete_posts_path(id: @friend_user.id) do %><p><%= @friend_user.name %><br>さんのRelearn 履歴</p><% end %></div>
  </div>
<% else %>
  <h1>投稿詳細</h1>
<% end %>
<div class="row">
  <div class="post_show_box">
    <div class="post_show_main_box col-xs-3">
      <div class="post_title_box">
        <p class="post_show_title"><%= @post.title%></p>
        <p class="post_show_genre"><%= @genre.type.truncate(20)%></p>
      </div>
      <div class="content_head">
        <p class="post_show_content_title">内容</p>
        <%# フレンドユーザーからは見えないようにする %>
        <% if @friend_user.id == current_user.id %>
          <p class="post_show_content_edit"><%= link_to "投稿内容の編集", edit_user_post_path(user_id: current_user.id, id: @post.id) %></p>
        <% end %>
      </div>
      <div class="post_show_content">
        <%= markdown(@post.content).html_safe %>
      </div>
      <%# target="_blank"をつけることでb別タブに飛ばす。rel="noopener noreferrer" %>
      <p class="post_show_link">link : <a href="<%= @post.link %>" target="_blank" rel="noopener noreferrer"><%= @post.link.truncate(70) %></a></p>
    </div>
    <div class="post_show_graph_box col-xs-9">
      <p class="post_show_graph_title"><投稿後の忘却推移></p>
      <%= render partial: "layouts/chart", locals:{ post: @post } %>
    </div>
  </div>
  <%# フレンドユーザーであってもポイント入力フォーム以下は見えないようにする %>
  <% if @friend_user.id == current_user.id %>
    <div class="post_show_bottom_box col-xs-12">
      <%# ポイント入力フォーム %>
      <%= render partial: 'point_form', locals: { post: @post,
            plan_timing: @plan_timing, time_now: @time_now, real_timing: @real_timing } %>
        <p class="post_show_bottom_message">※通知時間になるまでは復習のチェックは出来ません</p>
          <div class="post_show_bottom_btn">
            <%= link_to relearn_complete_path(@post), method: :patch do %><p class="post_show_complete_btn">復習完了にする</p><% end %>
            <%= link_to user_post_path(user_id: current_user.id, id: @post.id), method: :delete do %><p class="post_show_delete_btn">投稿を削除する</p><% end %>
          </div>
    </div>
  <% end %>
</div>