<header>
  <%# ロゴをリンク化 %>
  <%= link_to root_path, class:"logo" do %>
    <%= image_tag "ReLearn-logo-orange.png", class: "logo_img" %>
  <% end %>
  <% if user_signed_in? %>
    <nav class="header_nav">
      <ul class="nav-list_center">
        <%= link_to new_user_post_path(user_id: current_user.id) do %><li class="nav-list-item-center">+新規投稿</li><% end %>
        <%= link_to user_posts_path(user_id: current_user.id) do %><li class="nav-list-item-center">Relearn一覧</li><% end %>
        <%= link_to complete_posts_path(user_id: current_user.id) do%><li class="nav-list-item-center">Relearn履歴</li><% end %>
      </ul>
    </nav>
    <div class="header_right_box">
      <div class="header_right">
        <ul class="nav-list">
          <%# イメージ画像かユーザーの名前を押すとユーザー編集画面にとぶ %>
          <%= link_to edit_user_path(current_user) do %>
            <span id=nav_user_info>
              <%= render partial: "layouts/user_info", locals: { user: current_user} %>
            </span>
          <% end %>
          <%= link_to user_notifications_path(current_user.id) do%> 
            <% if unchecked_notifications.any? %>
              <li class="nav-list-item fa-stack">
                <i class="far fa-bell fa-lg fa-stack-2x"></i>
                <i class="fa fa-circle fa-stack-1x n-circle"></i>
              </li>
            <% else %>
              <li class="nav-list-item"">
                <i class="far fa-bell fa-lg" style="font-size: 1.8em;"></i>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <nav class="header_nav">
      <ul class="nav-list_center">
        <%= link_to about_path do %><li class="nav-list-item-center">about</li><% end %>
        <%= link_to new_user_registration_path do %><li class="nav-list-item-center">新規登録</li><% end %>
        <%= link_to new_user_session_path do %><li class="nav-list-item-center">ログイン</li><% end %>
      </ul>
    </nav>
  <% end %>
</header>
<% if user_signed_in? %>
  <%= render "layouts/menu" %>
 <% end %>