<!DOCTYPE html>
<html>
  <head>
    <title>Relearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/9ec8e86bb6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo">
        <a>#ロゴ</a>
      </div>
      <nav>
        <ul>
          <li><%= link_to "+新規投稿", new_post_path, class:"btn btn-default", data: {"turbolinks" => false} %></li>
          <li><%= link_to "Relearn一覧", posts_path, class:"btn btn-default" %></li>
          <li><%= link_to "Relearn履歴", complete_posts_path, class:"btn btn-default"  %></li>
        </ul>
      </nav>
      <div class="right_header">
        <% if current_user %>
          <%= link_to edit_user_path(current_user) do %>
            <%= current_user.name %>
            イメージ画像
          <% end %>
        <% end %>
        <p>通知マーク</p>
        <p>メニュー</p>
      </div>
    </header>
    <div class="container">
      <%# 成功・エラー文表示 %>
      <% if flash[:notice] %>
        <div class="notifications">
          <div class="notice"><%= flash[:notice] %></div>
        </div>
      <% elsif flash.now[:alert] %>
        <div class="notifications">
          <div class="alert"><%= flash.now[:alert] %></div>
        </div>
      <% end %>
      <%# 各ビューの読み込み %>
      <%= yield %>
    </div>
  </body>
</html>
