<!DOCTYPE html>
<html>
  <head>
    <title>Relearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="logo">
        <a>#ロゴ</a>
      </div>
      <nav>
        <ul>
          <li><%= link_to "+新規投稿", new_post_path, class:"btn btn-default" %></li>
          <li><%= link_to "Relearn一覧", posts_path, class:"btn btn-default"  %></li>
          <li><%= link_to "Relearn履歴", complete_posts_path, class:"btn btn-default"  %></li>
        </ul>
      </nav>
      <div class="right_header">
        <%= link_to edit_user_path(current_user) do %>
          <%= current_user.name %>
          イメージ画像
        <% end %>
        <p>通知マーク</p>
        <p>メニュー</p>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
