<!DOCTYPE html>
<html>
  <%# ヘッドをレンダリング %>
  <%= render 'layouts/head' %>
  <body>
    <%# ヘッダーをレンダリング %>
    <%= render 'layouts/header' %>
    <main>
      <div class="container">
        <div id="flash_messages">
          <%# 成功・エラー文があれば表示するレンダリング %>
          <%= render "layouts/flash_messages" %>
        </div>
          <%# 各ビューの読み込み %>
          <%= yield %>
        </div>
      </div>
    </main>
    <footer>
      <p>© 2020 ReLearn</p>
      <%# ロゴをリンク化 %>
      <%= link_to root_path, class:"logo" do %>
        <%= image_tag "ReLearn-logo-white.png", class: "footer_logo_img" %>
      <% end %>
    </footer>
  </body>
</html>
