<!DOCTYPE html>
<html>
  <%# ヘッドをレンダリング %>
  <%= render 'layouts/head' %>
  <body>
    <%# ヘッダーをレンダリング %>
    <%= render 'layouts/header' %>
    <main>
      <div class="container">
        <%# 成功・エラー文表示 %>
        <% if flash[:notice] %>
          <div class="notifications">
            <div class="notice"><%= flash[:notice] %></div>
          </div>
        <% elsif flash.now[:alert] %>
          <div class="notifications">
            <div class="alert"><%= flash.now[:alert] %></div>
          </div>
        <% end %>
        <%# 各ビューの読み込み %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
